<body class="fondo">
<div class="centratabla">
	<table class="fechas">
		<tr>
			<th colspan="2">Fecha</th>
		</tr>
		<tr>
			<th class="t2"><input
				#fecha
                type="date"
                min="2020-05-02"
              /></th>
		</tr>
		<tr>
			<th colspan="2"><button
				(click)="getFechaApi(
					fecha.value
				); 
				fecha.value = '';" class="button"
			>Buscar</button></th>
		</tr>
	</table>
</div>
<div class="centratabla">
	<table class="fechas">
		<tr>
			<th>Hora</th>
			<th>NO2</th>
			<th>PM10</th>
			<th>PM25</th>
			<th>Mapa</th>
		</tr>
		<tr *ngFor="let fecha of fechas; index as a">
			<td>{{fecha.date | date:'HH:mm'}}</td>
			<td>{{fecha.NO2}}</td>
			<td>{{fecha.pm10}}</td>
			<td>{{fecha.pm25}}</td>
			<td>
				<button (click)="getFechaApi3(
					fecha.timestamp
				);
				fecha.timestamp = '';" class="button"
				>O</button>
			</td>
		</tr>
	</table>
</div>
</body>
