<!DOCTYPE html>
<html>
<head>
</head>
<body class="fondo" >
<table>
  <tr>
    <td>
      <table class="">
        <tr>
          <td>
              <img src="https://images-na.ssl-images-amazon.com/images/I/715XQBt0ojL._AC_SL1500_.jpg" alt="" height="650px">

          </td>
        </tr>
      </table>
    </td>
    <td>
      <table class="">
        <tr>
          <td>
            <iframe width="650px"  height="450px" src="https://www.youtube.com/embed/1mSNUs7Xrrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          </td>
        </tr>
      </table>
    </td>
  <tr>
    <th colspan="2" style="text-align: center; color: black;"> 
         <p>Elena Gómez Pichardo y Juan Francisco Gónzález Domínguez
         <p>Alumnos de 2ºASIR del <a href="https://www.iespuntadelverde.es/" target="_blank" style="color: white;"> IES Punta del Verde </a> (curso 2020/21) <br>
    </th>
  </tr>
</table>
</body>
</html>